
<div class="individualPost">

    {{!-- below does not work --}}
    <h3>More Posts from this <a href='/post/profile/{{postResult.userId}}'> User </a></h3>

<h2>{{postResult.title}}</h2>
<img src="{{postResult.imageUrl}}"/>

{{!-- make this where only the poster can delete --}}
<br>
{{#if postResult.isMyPost}}
<button><a href="/post/{{postResult._id}}/delete">Delete This Post</a></button>
{{/if}}

</div>